/*  your css code here. If applicable */
body{
	align-items:center;
}
.card{
	width:60%;
	padding:10px;
	display:flex;
	flex-direction:column;
	background-color:lightgray;
	align-items:center;
	justify-content:center;
	box-shadow:5px 5px 5px lightgray;
}
.pic{
	width:70%;
	height:200px;
	margin-top:50px;
}
.btn{
	padding:20px;
	margin-bottom:40px;
	background-color:orange;
	color:white;
	border-radius:20px;
}